{% extends "base.html" %}
{% block title %}Sheets{% endblock %}

{% block content %}

<h3> <input class= "text-line" autocomplete=off type= "text" id = "charName" value = "{{charName}}"> Character Sheet</h3>

<button type="button" class="btn btn-primary" onclick="saveChanges()">Save changes</button>
<button type="button" class="btn btn-primary" onclick= "window.history.back()">Back to Main</button>

<div class = "row mx-2">
	<div class ="col-sm bg-secondary mx-2">
		<div class = "row bg-dark"><h3 class = "ml-5">Attributes</h3></div>
		<div class = "row mx-2">
			<div class = "col-sm"></div>
			<div class = "col-sm">Value</div>
			<div class = "col-sm">Temp Modifier</div>
		</div>
		
		<div id = "attr-cont">
			
		</div>
		<button type="button" class="btn btn-primary" onclick="addAttribute()">
			Add New
		</button>
	</div>
	<div class ="col-sm bg-secondary mx-2">
		<div class = "row bg-dark"><h3 class = "ml-5">Portrait</h3></div>
		<div class = "row">
			<div data-toggle="modal" data-target="#portraitModal" class ="center">
				<img id = "profile" src="{{imgurl}}" alt="Avatar" class = "profile-pic" title = "{{charName}}">
			</div>
		</div>
	</div>
</div>
<div class = "row mx-2">
	<div class ="col-sm bg-secondary m-2">
		<div class = "row bg-dark"><h3 class = "ml-5">Allies</h3></div>
		<div id = "ally-box" class = "row">
		</div>
		<div class = "row">
			<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#allyModal" onclick= "clearAlly()">
				Add Ally
			</button>
		</div>
	</div>
	<div class ="col-sm bg-secondary m-2">
		<div class = "row bg-dark"><h3 class = "ml-5">Items</h3></div>
		<div id = "item-box" class = "row"></div>
		<div class = "row">
			<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#itemModal" onclick= "clearItem()">
				Add Item
			</button>
		</div>
	</div>
</div>



<!-- Ally Modal -->
<div class="modal fade" id="allyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog top-20 width-80 height-80" role="document">
    <div class="bg-secondary modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Ally</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>

      </div>
	  
	  <div class="modal-body">
		<div class= "col-sm-4">
			<img src = "" id = "ally-portrait" class= "center">
		</div>
		
		<div class = "col-sm-8">
			<div class = "row">
				<div class="col-sm-3">
					<input name = "type" id = "given-name-txt" value = "" class=  "form-control">
				</div>
				<select name = "type" id = "ally-select" class="form-control col-sm-4 h-25">
					{%for ally in allAllies%}
						<option value="{{ally.id}}">{{ally.name}}</option>
					{%endfor%}
				</select>
				<input name = "type" id = "level-select" class="spinner col-sm-2" value = "1">
			</div>
			
			<div class = "row">
				<div class = "col-sm-10">
					Player's Notes:
					<textarea class="form-control" rows="2" id="players-notes" name = "players-notes"></textarea>
				</div>
			</div>
			<div class = "row">
				<div id  ="level-details" class = "col-sm-10">
					details about the selected ally's level abilities
				</div>
			</div>
			<input type = "hidden" id = "edittingID">
		</div>
      </div>
      <div class="modal-footer">
		<button type="button" class="btn btn-danger" data-dismiss="modal" onclick= "deleteAlly()">
          Delete Ally
        </button>
        <button type="button" class="btn btn-primary" onclick= "editAlly()" data-dismiss="modal">Save</button>
      </div>
    </div>
  </div>
</div>

<!-- Item Modal -->
<div class="modal fade mt-1" id="itemModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog top-20 width-80 height-80" role="document">
    <div class="modal-content bg-secondary">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Item</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class= "col-sm-4">
			<img src = "" id = "item-portrait" class= "center">
		</div>
		
		<div class = "col-sm-8">
			<div class = "row">
				<select name = "type" id = "item-select" class="form-control col-sm-4 h-25">
					{%for item in allItems%}
						<option value="{{item.id}}">{{item.name}}</option>
					{%endfor%}
				</select>
				<input name = "type" id = "amount-select" class="spinner col-sm-3" value = "1">
			</div>
			
			<div class = "row">
				<div id = "item-description"></div>
			</div>

		</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick = "editItem()" data-dismiss="modal">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- Portrait Modal -->
<div class="modal fade mt-1" id="portraitModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog top-20" role="document">
    <div class="modal-content bg-secondary">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Portrait URL</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
		Portrait URL:
        <input type="text" autocomplete=off class="form-control" value = "{{imgurl}}" id = "portrait-url">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="changePortrait()">Confirm</button>
      </div>
    </div>
  </div>
</div>

<script>
$(document).ready(function() {
$('#level-select').spinner({
	max:5,
	min:0,
    stop:function(e,ui){
		if ($.isNumeric($( "#level-select" ).spinner( "value" ))){
			getLevels();
		}
    }
});

$('#amount-select').spinner({
	min:0
});
});
	
function addAttribute(){
	var attrText = "<div class= 'row'><div class = 'col-sm attr-row'><input type=text' class='form-control attr-name bg-dark text-white' ></div>" +
	"<div class = 'col-sm'><input type='text' class = 'attr-main spinner' value = '0'></div>" + 
	"<div class = 'col-sm'><input type='text' class = 'attr-temp spinner' value ='0'></div></div>";
	$("#attr-cont").append(attrText);
	$( ".spinner" ).spinner({
	  classes: {
		"ui-spinner": "highlight"
	  }
	});
}

function saveChanges(){
//round up inputs and save them
	var attributes = [];
	var allies = [];
	var items = [];
	var portraitURL = $("#portrait-url").val();
	var charName = $("#charName").val();
	$(".ally-div").each(function() {
		allies.push({"givenName" : $(this).find(".ally-given-name-p").text(),
					 "playerNotes": $(this).find("player-notes-p").text(),
					 "level": $(this).find(".level-p").attr("level"),
					 "allyID": $(this).attr("allyid") 
		});
	});
	$(".item-div").each(function() {
		items.push({"amount": $(this).find(".amount-p").attr("amount"),
					 "itemID": $(this).attr("itemid") 
		});
	});	
	
	var attrMainList = [];
	var attrTempList = [];
	$(".attr-main").each(function() {
		attrMainList.push($(this).val());
	});
	
	$(".attr-temp").each(function() {
		 attrTempList.push($(this).val());
	});
	
	$(".attr-row").each(function(key) {
		attributes.push({"attrName": $(this).find(".attr-name").val(),
					 "value": attrMainList[key],
					 "tempMod": attrTempList[key]
		});
	});
	

	
	console.log(attributes);
	
	$.ajax({
		method: "POST",
		url: "../saveChanges/",
		data: {"payload":JSON.stringify({"attributes": attributes, "allies":allies, "items": items, "portraitURL": portraitURL, "charName": charName})},
		success: function(response) {
			alert("Changes Saved");
		},
		error: function(response) {
			alert("error");
		}
	});
}

$("#ally-select").on( "change", function() {
  getLevels();
  getAllyDeets();
});

$("#item-select").on( "change", function() {
  getItemDeets();
});

function getLevels(){
	var allyID = $("#ally-select").val();
	$.ajax({
	  method: "GET",
	  url: "../getLevels/",
	  data: {"level" : $( "#level-select" ).spinner( "value" ), "allyID":allyID},
	  success: function(response) {
			$("#level-details").html("");
			for (index in response){
				var insertHTML = "<div class = 'pt-1 bg-dark'>" + response[index] + "</div>"
				$("#level-details").append(insertHTML);
				$("#level-details").append("<br>");
				
			}
	  },
	  error: function(response) {
			console.log(response)
			alert("error");
	  }
	});
}

function changePortrait(){
	$("#profile").attr("src", $("#portrait-url").val());
}

function clearAlly(){
	//called when new ally button is clicked, reset fields in the ally modal.
	$("#edittingID").val("");
	
	$("#given-name-txt").val("");
	$("#level-select").val(0);
	var playersNotes = $("#players-notes").val("");
	
	getAllyDeets();
	getLevels();
}

function clearItem(){
	//called when new item button is clicked, reset fields in the item modal.
	$("#amount-select").val(0);
	getItemDeets();
}

function generateID(){
	var date = new Date();
	var components = [
		date.getYear(),
		date.getMonth(),
		date.getDate(),
		date.getHours(),
		date.getMinutes(),
		date.getSeconds(),
		date.getMilliseconds()
	];

	var timestamp = components.join("");
	return timestamp;
}

function editAlly(){
	//called when uses clicks 'save' after bringing up the ally modal
	var editting = $("#edittingID").val();
	var givenName = $("#given-name-txt").val();
	var allyId = $("#ally-select").val();
	var allyType = $("#ally-select option:selected").text();
	var level = $("#level-select").val();
	var playersNotes = $("#players-notes").val();
	var imgurl  = $("#ally-portrait").attr("src");
	if (editting == ""){
	//adding new ally. don't delete anything.
	}
	else{
	//editting existing ally. delete the existing one with that editting ID
		alert(editting);
		$("[edittingID='"+ editting+ "']").remove();
	}
	editting = generateID();
	var insertHTML = "<div class = 'ally-div col-sm clickable' edittingID = '" + editting + "' allyID ='" + allyId + "' >" +
	"<img src='"+ imgurl +"' alt ='ally-icon' class = 'icon ally-icon'>" + 
	"<p class= 'ally-given-name-p'>" + givenName + "</p>" + "<p class = 'ally-type-p'>" + allyType + "</p>"+
	"<p class = 'level-p' level = "+ level +"> Level:" + level + "</p>" +
	"<p class = 'hidden player-notes-p'>"+ playersNotes +"</p>"
	"</div>";
	$("#ally-box").append(insertHTML);
}

function editItem(){
	//don't need to generate unigue item ids. You shouldn't be able to add an item when the same item exists. use item id as unique key.
	var itemId = $("#item-select").val();
	var itemType = $("#item-select option:selected").text();
	var imgurl  = $("#item-portrait").attr("src");
	var amount = $("#amount-select").val();

	$("[itemID='"+ itemId+ "']").remove();
	
	var insertHTML = "<div class = 'item-div col-sm clickable' itemID = '" + itemId + "'>" +
	"<img src='"+ imgurl +"' alt ='item-icon' class = 'icon item-icon'>" + 
	"<p class = 'item-type-p'>" + itemType + "</p>"+
	"<p class = 'amount-p' amount = "+ amount +">&times; " + amount + "</p>" +
	"</div>";
	$("#item-box").append(insertHTML);
}

$(document).on("click", ".ally-div", function() {
	var edittingID = $("#edittingID").val($(this).attr("edittingID"));
	var allyID = $(this).attr("allyID");
	var givenName = $(this).find(".ally-given-name-p").text();
	var level = $(this).find(".level-p").attr("level");
	var playersNotes = $(this).find(".player-notes-p").text();
	$("#given-name-txt").val(givenName);
	$("#ally-select").val(allyID);
	$("#level-select").val(level);
	$("#players-notes").val(playersNotes);
	getAllyDeets();
	getLevels();
	$("#allyModal").modal();
	
});

$(document).on("click", ".item-div", function() {
	var itemID = $(this).attr("itemid");
	var amount = $(this).find(".amount-p").attr("amount");
	$("#item-select").val(itemID);
	$("#amount-select").val(amount);
	getItemDeets();
	$("#itemModal").modal();
	
});

function getAllyDeets(){
//get ally description and imgurl
	var allyID = $("#ally-select").val();
	$.ajax({
	  method: "GET",
	  url: "../getAllyDeets/",
	  data: {"allyID":allyID},
	  success: function(response) {
		console.log(response);
		$("#ally-portrait").attr("src", response['imgurl']);
	  },
	  error: function(response) {
			console.log(response)
			alert("error");
	  }
	});
}

function getItemDeets(){
//get item description and imgurl
	var itemID = $("#item-select").val();
	$.ajax({
	  method: "GET",
	  url: "../getItemDeets/",
	  data: {"itemID":itemID},
	  success: function(response) {
		console.log(response);
		$("#item-portrait").attr("src", response['imgurl']);
		$("#item-description").html(response['description']);
	  },
	  error: function(response) {
			console.log(response)
			alert("error");
	  }
	});
}

function deleteAlly(){
	var editting = $("#edittingID").val();
	$("[edittingID='"+ editting+ "']").remove();
}
</script>

{% endblock %}