{% extends "base.html" %}
{% block title %}Sheets{% endblock %}

{% block content %}
<h3>Login</h3>

<div class="container">
  <div class = "row">
		<input type="text" class="form-control" id = "user-txt" >
		<button class="btn btn-default" onclick= "checkUser()">Submit</button>
  </div>
</div>


<script>

	function checkUser(){
		var user = $("#user-txt").val();
		var pass = "poop";
		
		$.ajax({
		  method: "POST",
		  url: "checkUser/",
		  data: {'user': user, "pass":pass},
		  success: function(response) {
				post("sheetMain/", {"player_id": response, "csrfmiddlewaretoken":getCookie('csrftoken')}, "POST")
	      },
		  error: function(response) {
				alert("wrong user");
	      }
		});
	}
</script>
{% endblock %}