{% extends "base.html" %}
{% block title %}Sheets{% endblock %}

{% block content %}
<h3>{{player}}'s Character Sheets</h3>

<div class="container">
  <div class = "row">
	{% for sheet in sheets%}
		<div>
		<a href = "../sheeteditor/?sheetID={{sheet.id}}">
			<div class = "col-sm border border-primary">
				<h4>{{sheet.name}}</h4>
				<img src="{{sheet.image}}" alt="Avatar" class = "icon">
				<p>{{sheet.description}}</p>
			</div>
		</a>
		<button type="button" class="btn btn-danger" onclick= "deleteSheet({{sheet.id}}, $(this))">Delete Sheet</button>
		</div>
	{% endfor %}
		
	<a href = "../sheeteditor">
		<div class = "col-sm border border-primary">
			<h4>Add New Character</h4>
			<span class="glyphicon glyphicon-plus" aria-hidden="false"></span>
		</div>
	</a>
	
	
  </div>
</div>

<script>
function deleteSheet(sheetID, elem){
	
	if (confirm("Are you sure you want to delete this sheet?")){
		$.ajax({
			method: "POST",
			url: "../deleteSheet/",
			data: {"sheetID": sheetID},
			success: function(response) {
				console.log("deleted sheet " + sheetID);
				elem.parent().remove();
			},
			error: function(response) {
				alert("error");
			}
		});
	}
}
</script>
{% endblock %}