{% extends "base.html" %}
{% block title %}DM Editor{% endblock %}

{% block content %}
<h3>DM Editor Main Page</h3>
{{purpose}}

<div class="container">
  <div class="row">
    <div class="col-sm border border-success bg-dark">
      <h2>Allies</h2>
	  
	  <div class = "row">
		<a class = "btn btn-lg btn-bd-primary" href = "allyeditor">Add New Ally</a>
	  </div>
	  Most recent:
	  <div class="container ">
	  {% for ally in allies%}
		{{ally.name}}
		{{ally.url}}
	  {% endfor %}
	  </div>
	  
	  <div class="container">
	  List All
	  </div>
    </div>
    <div class="col-sm border border-white bg-dark">
      Items
    </div>
  </div>
</div>
{% endblock %}