<!DOCTYPE html>
<html>
<head>
{% load staticfiles %}
<link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
<script src="{% static "js/bootstrap.min.js" %}"></script>
<script src="https://code.jquery.com/jquery-3.3.1.js"  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>

</head>
<body>

<h3>DM Editor</h3>
{{purpose}}


<div class="container">
  <div class="row">
    <div class="col-sm">
      Allies
    </div>
    <div class="col-sm">
      Artifacts
    </div>
  </div>
</div>
</body>
</html>